{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<main role="main">

    <section class="jumbotron text-center" style="background-color: transparent">
        <div class="container" >
            <h1 class="jumbotron-heading" >Hi, I am Turza.</h1>
            <p class="lead text-muted-dark" style="font-family: 'Comic Sans MS'">I am a current student of Metropolitan University. I like to take picture. I like to riding bike and travaling.And its my personal blog. Welcome to my blog.</p>
            <p>
                <a href="mailto:probaldattaturza@gmail.com" class="btn btn-primary my-2">Email me</a>

            </p>
            <img height = "450" weidth = "600" src = "{% static 'me.jpeg'%} "/>
        </div>
    </section>

    <div class="album py-5" style="background-color: transparent">
        <div class="container">

            <div class="row">
                {% for job in jobs.all %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow" style="background-color: transparent">
                        <img class="card-img-top" src="{{ job.image.url }}" style="padding: 5px"/>

                        <div class="card-body">
                            <p class="card-text">{{  job.summary }}</p>

                        </div>
                    </div>
                </div>
                {% endfor %}




            </div>
        </div>
    </div>

</main>

{% endblock %}